/* CSS DEMO PROJECT */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }




body {

    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    margin:0; 
}



header.primary{
    background-color:#8D39EB;
    color:#ffffff;
    text-align:center; 
    padding: 40px;
    /*long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;  
    /* T,R,B,L */
    padding: 20px 40px 20px 40px; 
    /* Two Value Top/Bottom / L/R */
    padding: 20px 40px;
    text-shadow: 1px 1px #000000; 
   }

   header.primary h1 {

        font-size: 45px; 
        margin: 20px; 
   }

   header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
   }

   header.primary h2{
    font-size:1.4rem;  
   }

   header.primary nav{
    background:red;
    max-width:960px; 
    margin: 20px auto; 
   }

   header.primary nav ul{
    display:flex; 
    flex-direction:row-reverse;
    justify-content:space-evenly; 
    padding:0;
   }

   header.primary nav ul li{
    list-style-type:none;
   }
   
   header.primary nav a{
    color:#ffffff;
    text-decoration:none;
    background-color:#000000;
    background-color:rgba(0,0,0, .4)
    padding: 8px 16px;
    border-radius:8px; 
   }

